<div class="container">
	<div class="content-detal mt-5">
		<div class="card bg-light " >		  
		  <div class="card-body list-group-item list-group-item-action">
	        <div class="media">
	          <img class="foto-candidato mr-3" src="../assets/img/candidatos/lula.jpg" >
	          <div class="media-body">
	            <li class="list-inline-item h3 card-title">Lula</li>
	            <li class="list-inline-item h3 card-subtitle font-weight-light"> | Partido dos Trabalhadores</li>
	            <p class="card-text text-justify" >Luiz Inácio Lula da Silva é um político, ex-sindicalista e ex-metalúrgico brasileiro, o 35.º presidente do Brasil entre 2003 e 2011. Membro fundador e presidente de honra do Partido dos Trabalhadores, elegeu-se presidente da República na eleição de 2002, sendo reeleito em 2006. Atualmente, encontra-se cumprindo pena em Curitiba após ser condenado por corrupção.</p>
	          </div>
	        </div>
	      </div>
		</div>

		<div class="row mt-2">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<h3 class=" text-center mb-4 mt-3 font-weight">Links Recomendados</h3>
					<div class="card ">
					    <div class="card-body list-group-item list-group-item-action">
					        <div class="media">
					            <div class="media-body">					         
					            	<div class="row">
					            		<div class="col-lg-6"> 
					            			<h4 class="text-left card-title">Nome do Site 1</h4>
					            		</div>
					            		<div class="col-lg-6">	
					            			<p class="text-right font-weight-bold">Data de publicação</p>            	
					            		</div>
					            	</div>
				            		<div> 
				            			<a href="#">Link para o site</a>
				            		</div>     
					            </div>
					        </div>					    
					    </div>
				    </div>
				    <div class="card mt-2 ">
					    <div class="card-body list-group-item list-group-item-action">
					        <div class="media">
					            <div class="media-body">					         
					            	<div class="row">
					            		<div class="col-lg-6"> 
					            			<h4 class="text-left card-title">Nome do Site 2</h4>
					            		</div>
					            		<div class="col-lg-6">	
					            			<p class="text-right font-weight-bold">Data de publicação</p>            	
					            		</div>
					            	</div>
				            		<div> 
				            			<a href="#">Link para o site</a>
				            		</div>     
					            </div>
					        </div>					    
					    </div>
				    </div>

				    <div class="card mt-2 ">
					    <div class="card-body list-group-item list-group-item-action">
					        <div class="media">
					            <div class="media-body">					         
					            	<div class="row">
					            		<div class="col-lg-6"> 
					            			<h4 class="text-left card-title">Nome do Site 3</h4>
					            		</div>
					            		<div class="col-lg-6">	
					            			<p class="text-right font-weight-bold">Data de publicação</p>            	
					            		</div>
					            	</div>
				            		<div> 
				            			<a href="#">Link para o site</a>
				            		</div>     
					            </div>
					        </div>					    
					    </div>
				    </div>
			   
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 mt-3">
				<div class="card">
					<h5 class="bg-white card-title text-center">Temas que esse candidato mais enfatiza</h5>
					<hr class="mt-0">
					<div class="card-body">
						 <img width="100%"  class=" mr-3" src="../assets/img/nuvem_temas/nuvem.jpg" >
					</div>

					
				</div>
			</div>
		</div> <!-- Fecha row-->
	</div> <!--Fecha  content -->
</div> <!-- Fecha container -->

