<nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-between">
	<div class="container">	  
	  <div class="collapse navbar-collapse " id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto h5 text-uppercase">
	    	<li class="nav-item active " routerLinkActive="active">
	      		<a class="nav-link text-white js-scroll-trigger" [routerLink]="['/']">Home</a>
	      	</li>
	      	<li class="nav-item active " routerLinkActive="active">
	      		<a class="nav-link text-white js-scroll-trigger" [routerLink]="['/about']">Sobre</a>
	      	</li>
	      	<li class="nav-item active " routerLinkActive="active">
	      		<a class="nav-link text-white js-scroll-trigger" [routerLink]="['/avaliar-temas']">Temas de Interesse</a>
	      	</li>
	      	<li class="nav-item active " routerLinkActive="active">
	      		<a class="nav-link text-white js-scroll-trigger" [routerLink]="['/candidatos-recomendados']">Canditados Recomendados</a>
	      	</li>
            <li class="nav-item" routerLinkActive="active">
            	<a class="nav-link text-white js-scroll-trigger" [routerLink]="['/contatos']">Contato</a>
            </li>
	    </ul>
	  </div>
	</div><!-- Fim do container -->
</nav>





  