.rowTemas{
	padding-top: 5%;
	alignment-baseline: central;
	padding-right: 15%;
	padding-left: 15%;
}

.subtitulo{
	padding-top: 10%;
}

.temaImg{
	max-width: 100px;
	max-height: 200px;
}

.nomeTema{
	padding-bottom: 55%;
}


