.sobre{
	shape-margin: 10px;
	text-align: center;
}
img{
	width: 50%;
}

.imgTime:hover{	
	transform: scale(1.1);
	transition: transform 0.5s;
}

.imgTime{
	transition: width 0.5s, height 0.5s;	
}
/*.b{
	border:2px solid red;
}*/