<div class="container">
	<div class="classUrna ">
		<div class="container ">
		  <div class="row ">
		    <div class="col-sm-9 col-lg-3">
		      <img src="../../assets/img/urna_circle2-02.png"  id="IdUrna" class="img-fluid mx-auto d-block " alt="EmQuemVotar">
		    </div>
		    <div class="textoHome col-9 col-sm-9 col-lg-9 align-self-center">
		      <h1 class="font-weight-normal" style="color:#1c7d43;">Não sabe em quem votar nessas eleições? 
		      		<h4 class="font-weight-light " style=" padding-top:2px; color:#90a397;">Avalie os temas mais relevantes pra você nas propostas de um candidato e receba as recomendações dos nossos robôs!</h4>
		  	  </h1>
		    </div>
		  </div>
		  <div class="text-center">
		  	<a class="btn btn-outline-success btn-xl text-uppercase" [routerLink]="['/avaliar-temas']">Avaliar Temas</a>
		  </div>

		  
		  
		</div><!--Fim do container -->
	</div>
</div>

